# Dart / Flutter
.dart_tool/
.packages

pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Build cache
.oka_cache/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test coverage
coverage/

# Local configuration
*.local.yaml

